<settings>
    <setting id="kodion.access_token" value="ya29.Gl0OBS_eyu_d6SRwg9FNQB16hM-K8f_Re1VlYpHu65z8vXEKamMeyP_GZgzcfIRwvY55OiuDaUYJG58XioYb7KivAsA76QQRTEZ8BGyrj2gA7bQ48qjwxfCbRGW5uyQ|ya29.Gl0OBajxyrG35KwlP_0b6PkL7QWUeQuiiSC_fZGugRkx_TroyMYkdysxO2demAbyObvcnJ0pzDtzOvMj33YgDahm7hdhHZQSiAUugjHWSjy5_PEHPBKF5W1GRyBd68o" />
    <setting id="kodion.access_token.expires" value="1511502052" />
    <setting id="kodion.cache.size" value="20" />
    <setting id="kodion.content.max_per_page" value="9" />
    <setting id="kodion.fanart.show" value="true" />
    <setting id="kodion.login.hash" value="d41d8cd98f00b204e9800998ecf8427e" />
    <setting id="kodion.login.password" value="" />
    <setting id="kodion.login.username" value="" />
    <setting id="kodion.maintain.clear.func" value="" />
    <setting id="kodion.maintain.clear.search" value="" />
    <setting id="kodion.maintain.delete.func" value="" />
    <setting id="kodion.maintain.delete.search" value="" />
    <setting id="kodion.maintain.delete.settings" value="" />
    <setting id="kodion.refresh_token" value="1/_224BKeEUXme2l9yPNqyCSLN1Cwo_qwa3iqQuwl9IcU|1/e_CRd0e-PyxBx9ADKQH7Nsbh-IDoE0EG5KmM0ZisWQU" />
    <setting id="kodion.safe.search" value="0" />
    <setting id="kodion.search.size" value="1" />
    <setting id="kodion.setup_wizard" value="false" />
    <setting id="kodion.subtitle.language" value="0" />
    <setting id="kodion.subtitle.languages" value="0" />
    <setting id="kodion.support.alternative_player" value="false" />
    <setting id="kodion.thumbnail.size" value="1" />
    <setting id="kodion.video.quality" value="3" />
    <setting id="kodion.video.quality.ask" value="false" />
    <setting id="kodion.video.quality.mpd" value="false" />
    <setting id="kodion.video.quality.mpd.configure" value="" />
    <setting id="kodion.video.support.mpd.addon" value="false" />
    <setting id="kodion.video.support.mpd.builtin" value="false" />
    <setting id="simple.requests.ssl.verify" value="false" />
    <setting id="youtube.api.enable" value="true" />
    <setting id="youtube.api.id" value="861556708454-d6dlm3lh05idd8npek18k6be8ba3oc68" />
    <setting id="youtube.api.key" value="AlzaSyAd-YEOqZz9nXVzGtn3KWzYLbLaajhqlDA" />
    <setting id="youtube.api.key.switch" value="4" />
    <setting id="youtube.api.key.switch.use" value="4" />
    <setting id="youtube.api.last.hash" value="3aa9620078da5a3b3b8df3e9cbd90281" />
    <setting id="youtube.api.last.switch" value="own" />
    <setting id="youtube.api.secret" value="SboVhoG9s0rNafixCSGGKXAT" />
    <setting id="youtube.channel.fanart.show" value="true" />
    <setting id="youtube.filter.my_subscriptions_filtered.blacklist" value="false" />
    <setting id="youtube.filter.my_subscriptions_filtered.list" value="" />
    <setting id="youtube.folder.browse_channels.show" value="true" />
    <setting id="youtube.folder.disliked_videos.show" value="false" />
    <setting id="youtube.folder.history.playlist" value="" />
    <setting id="youtube.folder.history.show" value="true" />
    <setting id="youtube.folder.liked_videos.show" value="false" />
    <setting id="youtube.folder.live.show" value="false" />
    <setting id="youtube.folder.my_channel.show" value="false" />
    <setting id="youtube.folder.my_subscriptions.show" value="true" />
    <setting id="youtube.folder.my_subscriptions_filtered.show" value="false" />
    <setting id="youtube.folder.playlists.show" value="true" />
    <setting id="youtube.folder.popular_right_now.show" value="false" />
    <setting id="youtube.folder.recommendations.show" value="true" />
    <setting id="youtube.folder.settings.show" value="true" />
    <setting id="youtube.folder.sign.in.show" value="true" />
    <setting id="youtube.folder.sign.out.show" value="false" />
    <setting id="youtube.folder.subscriptions.show" value="true" />
    <setting id="youtube.folder.watch_later.playlist" value="" />
    <setting id="youtube.folder.watch_later.show" value="false" />
    <setting id="youtube.language" value="de" />
    <setting id="youtube.login.version" value="16" />
    <setting id="youtube.playlist.watchlater.autoremove" value="true" />
    <setting id="youtube.region" value="DE" />
    <setting id="youtube.suggested_videos" value="false" />
    <setting id="youtube.view.description.show_channel_name" value="true" />
</settings>
